html, body{ 

    height: 100%; 

    margin: auto; 
    

} 

.page_container{ 

    background-color: rgb(226, 228, 241); 

    width:1700px;   
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    justify-content: space-between;
    
    
} 

  

.box{ 

    width:200px; 

    height: 150px; 

    border:2px solid red; 

} 

  

#box1{ 

    background-color: #49d260; 
    width:100%; 
    margin-bottom: 20px;
    order: 1;
   
    
} 

#box2{ 

    background-color: #c1d42f; 
    width:100%; 
    display: flex;
    order: 2;

} 



#box3{ 

    background-color: #5039d3; 
    display: flex;
    margin-left:  25%;
    order: 4;
} 

#box4{ 

    background-color: #e03f3f; 
    display: flex;
    margin-right: 25%;
    order: 3;
} 



#box5{ 

    background-color: #d249cb; 
    display: flex;
    margin-right: 25%;
    order: 5;
    
    
} 

#box6{ 

    background-color: #e9a340; 
    width: 100%;
    margin-top: 20px;
    order: 6;
    

} 