html, body{

    height: 100%;

    margin: auto;
   

}

.page_container{

    background-color: rgb(226, 228, 241);
    width:1700px;  
    display: flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}

 

.box{

    width:200px;
    display:flex;
    height: 200px;

    border:2px solid red;

}

 

#box1{

    background-color: #49d260;
    width:100%;
    order: 1;
   
   
}

#box2{

    background-color: #c1d42f;
    width:100%;
    display: flex;
    order: 2;
    margin-bottom:20px;

}



#box3{

    background-color: #5039d3;
    display: flex;
    margin-left:  431px;
    margin-right:215px;
    margin-bottom: 0px;
    order: 3;
   
}

#box4{

    background-color: #e03f3f;
    display: flex;
    margin-left: 431px;
    margin-top:-215px;
    order: 5;
   
}



#box5{

    background-color: #d249cb;
    display: flex;
    margin-right:215px;
    margin-top: 108px;
    margin-bottom: 108px;
    order: 4;
   
   
}

#box6{

    background-color: #e9a340;
    width: 100%;
    margin-top: 20px;
    order: 6;
   

}